.hidden
{
    display: none;
}

.mainmenu
{
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    
}
.bg {
    width: 200vw;
    height: 200vw;
    transform: rotate(-10);
    filter: hue-rotate(265deg);
    top: -25vw;
    position: absolute;
    z-index: -100;

    background-image: url("/sprites/menu/background-1.png");
    background-size: 256px;
    background-repeat: repeat;

    animation-name: scroll;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &.ingame
    {
        background-color: blue;
    }
}

@keyframes scroll
{
    from
    {
        background-position: 0 0;
    }
    to
    {
        background-position: 20000px 50000px;
    }
}